<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<button id="btn">get请求</button>
<div id="content"></div>
</body>
</html>
<script>
    oBtn = document.getElementById('btn')
    oDiv = document.getElementById('content')
    oBtn.onclick = function(){
        //1 创建ajax对象
        xhr = new XMLHttpRequest()

        //2 创建http请求
        xhr.open('get','/ajax1?username=tom',false)

        //3 发送http请求
        xhr.send(null)

        //4 监控ajax状态
        xhr.onreadystatechange = function () {
            console.log(1111)
            if (this.readyState == 4 && this.status == 200) {
                obj = JSON.parse(this.responseText)
                oDiv.innerText = obj.msg
                console.log("请求完毕")
            }
        }
        console.log("数据已请求")
    }

</script>